<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="Nimi's, cuisine, soup, parfait, small chops, food, snacks" />
    <title> FishMan - Admin Log In</title>
    <meta name="theme-color" content="#ffffff">
    
    


    <!-- Favourite Icon -->
    <!-- <link rel="shortcut icon" type="image/jpg" href="/img/logo/logo.png" /> -->


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    
    <!-- Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Playfair+Display:wght@400;700&display=swap">
    
    <!-- personnal CSS -->
    <link rel="stylesheet" href="/css/login.css"  />
    

    <!-- Jquery, swal -->
    <script src="/js/jquery/jquery-3.6.0.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/swal/sweetalert2.all.min.js"></script>
</head>

