<% include includes/head %>

    <body>
        <% include includes/topbar %>
        <div class="container-fluid">
            <div class="row">

                <% include includes/sidebar %>

                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Vaulter</h1>
                    </div>
                
                    <div>
                        <form action="">
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    <label for="prod_type" class="form-label">Type</label>
                                    <select class="form-select" id="prod_type" aria-label="Default select example">
                                        <option selected disabled>Select...</option>
                                <% if (types && types.length> 0 ) { %>
                                    <% for( var ty=0; ty < types.length; ty++) { %>
                                        <option value="<%= types[ty].id %>">
                                            <%= types[ty].name %>
                                        </option>
                                    <% } %>
                                <% } %>
                                    </select>
                                </div>
                
                                <div class="col-md-6">
                                    <label for="product" class="form-label">Product</label>
                                    <select class="form-select " id="product" aria-label="Default select example">
                                        <option selected disabled>Select...</option>
                                                
                                    </select>
                                </div>
                
                            </div>
                
                            <div class="mb-3 row">
                                <div class="col-md-4">
                                    <label for="vault_type" class="form-label">Vaulting?</label>
                                    <select class="form-select" id="vault_type" aria-label="Default select example">
                                        <option selected disabled>Select...</option>
                                        <option value="Single">Single</option>
                                        <option value="Carton">Carton</option>
                                    </select>
                                </div>
                                <div class="col-md-8">
                                    <label for="qty" class="form-label">Quantity</label>
                                    <input type="number" class="form-control" id="qty" placeholder="" required>
                                </div>
                            </div>
                
                            <div class="mb-3 row">
                                <div class="col-md-6"> <label for="size" class="form-label">Size</label>
                
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">kg</span>
                                        <input type="number" class="form-control" id="size" placeholder="e.g 10kg" aria-label="Username"
                                            aria-describedby="basic-addon1" required>
                                    </div>
                                </div>
                                <div class="col-md-6"> <label for="price" class="form-label">Price</label>
                
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">&#8358;</span>
                                        <input type="text" class="form-control" id="price" placeholder="e.g &#8358; 0.00"
                                            aria-label="Username" aria-describedby="basic-addon1" disabled readonly required>
                                    </div>
                                </div>
                
                            </div>
                
                            <div class="mb-3">
                                <label for="remark" class="form-label">Notes
                                    <small>(optional)</small></label>
                                <textarea class="form-control" id="remark" rows="3"
                                    placeholder="Text here..."></textarea>
                            </div>

                            <div class="mb-3 w-100">
                                <div id="error-p" class="col-12 text-danger"></div>
                            </div>
                
                            <a href="/admin/" class="btn btn-danger">Cancel</a>
                
                
                            <div class="float-end mb-3">
                                <button type="button" class="btn btn-secondary clear">Clear</button>
                                <button type="submit" id="submitVault" class="btn btn-outline-success  btn-lg">Submit</button>
                            </div>
                
                        </form>
                    </div>
                
                </main>

            </div>
        </div>
                
        <script src="/js/custom/main.js"></script>
        <script type="module" src="/js/custom/validator.js"></script>
        <script type="module" src="/js/custom/helper.js"></script>
        <script type="module" src="/js/custom/script_3.js"></script> 
    </body>
</html>