<div class="modal fade" id="productModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">

                    <div class="mb-3">
                        <div class="profile-pic">
                            <label class="-label" for="prodImg">
                                <span class="fa fa-camera"></span>
                                <span>Change Image</span>
                            </label>
                            <input id="prodImg" type="file" onchange="loadFile(event)" />
                            <img src="https://via.placeholder.com/200" id="output_2" width="200" />
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Type</label>
                        <input type="text" class="form-control" id="prodType" placeholder="Product Type"
                            disabled readonly required>
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Name</label>
                        <input type="text" class="form-control" id="prodName" placeholder="Product Name here...">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="qty" placeholder="30 cartons">
                    </div>

                    <div class="mb-3">
                        <label for="pieces" class="form-label">Pieces</label>
                        <input type="number" class="form-control" id="pieces" placeholder="how many pieces in a carton">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Size (kg)</label>
                        <input type="number" class="form-control" id="size" placeholder="20.00kg">
                    </div>


                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Bought Price
                                (&#8358;/kg)</label>
                            <input type="number" class="form-control" id="bPrice"
                                placeholder="&#8358;5,000.00 per kg">
                        </div>
                        <div class="col-md-6">
                            <label for="exampleFormControlInput1" class="form-label">Sell Price
                                (&#8358;/kg)</label>
                            <input type="number" class="form-control" id="sPrice"
                                placeholder="&#8358;5,000.00 per kg">
                        </div>

                    </div>

                    <div class="mb-3 row">
                        <div id="error-p" class="col-12 text-danger"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="addProd" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</div>
<script>
    var loadFile = function (event) {
        var image = document.getElementById("output_2");
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>