<!-- Add Type Modal -->
<div class="modal fade" id="typeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="typeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="typeModalLabel">Add New Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">

                    <div class="mb-3">
                        <div class="profile-pic">
                            <label class="-label" for="typeImg">
                                <span class="fa fa-camera"></span>
                                <span>Change Image</span>
                            </label>
                            <input id="typeImg" type="file" onchange="loadFile(event)" />
                            <img src="https://via.placeholder.com/200" id="output" width="200" />
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="inputType" class="col-sm-2 col-form-label">Type</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="typeName" placeholder="Text here...">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div id="error-ty" class="col-12 text-danger"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" id="addType" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</div>
<script>
    var loadFile = function (event) {
        var image = document.getElementById("output");
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

